<!DOCTYPE html>
<html lang="ko">
<head>
<title>게임</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<link href="/css/main.css" rel="stylesheet" type="text/css"/>
<script src="/js/async.js"></script>
<script src="/js/step.js"></script>
<script src="http://underscorejs.org/underscore-min.js"></script>
<script type="text/javascript" src="http://connect.facebook.net/ko_KR/all.js"></script>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://ricostacruz.com/jquery.transit/jquery.transit.min.js"></script>
<script src="/js/FBDiary/facebook_contents_loader.js"></script>
<script src="/js/FBDiary/facebook_clip.js"></script>
<script>

    function initLocalStorage() {
        if (typeof(Storage) !== "undefined") {
        }
        else {
            alert("브라우져가 웹스토리지를 지원하지 않습니다. 스크랩이 사용 불가능하고 로딩시간이 길어질 수 있습니다.");
        }
    }
    function isStorageEnabled() {
        return typeof(Storage) !== "undefined";
    }


    function searchPost(keyword) {
        $.each($(".date-container"), function (i, v) {
            var content = $(v).html();
            if (content.indexOf(keyword) != -1) {
                console.log(content);
                $(v).clearQueue().slideDown();
            } else {
                $(v).clearQueue().slideUp();
            }
        });
    }

    function initFacebook(callback) {
        var debug_app = "358262920960112";
        var release_app = "333864290041286";
        FB.init({ "appId": debug_app,
            "status": false,
            "cookie": true,
            "xfbml": true,
            "oauth": true});
        function startFacebookLogin(success, failure) {
            FB.login(function (response) {
                if (response.authResponse) {
                    success(response);
                } else {
                    failure(response);
                }
            }, {"scope": 'email,user_likes,read_stream'});
        }

        function facebookLoginFailureCallback() {
            alert("페이스북 로그인이 취소되었습니다. 다이어리 사용이 불가능합니다.");
        }

        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {
                callback(response);
            } else if (response.status === 'not_authorized') {
                startFacebookLogin(callback, facebookLoginFailureCallback);
            } else {
                startFacebookLogin(callback, facebookLoginFailureCallback);
            }
        });
    }

    function showDateIn(date) {
        $("#showDayButton").html((date.getMonth() + 1) + "/" + date.getDate());
        $(".date-container").clearQueue().hide();
        for (var i = 2000; i < date.getFullYear(); i++) {
            $(".date-container[date='" + i + "/" + (date.getMonth() + 1) + "/" + date.getDate() + "']").clearQueue().fadeIn();
        }
    }
    function test_delete_post(count){
        var loadedPosts = JSON.parse(localStorage.loaded_posts);
        loadedPosts = _.reject(loadedPosts, function(v,i){ return i<count; });
        localStorage.loaded_posts = JSON.stringify(loadedPosts);
        localStorage.latest_post  = JSON.stringify(_.first(loadedPosts));
    }

    var currentShowingDate = new Date();
    function showPreviousDayContent() {
        currentShowingDate.setDate(currentShowingDate.getDate() - 1);
        showDateIn(currentShowingDate);
    }
    function showTodayContent() {
        currentShowingDate = new Date();
        showDateIn(currentShowingDate);
    }
    function showNextDayContent() {
        currentShowingDate.setDate(currentShowingDate.getDate() + 1);
        showDateIn(currentShowingDate);
    }

    var calendarMap = {};

    $(document).ready(function () {
        $("#search_input").change(function () {
            searchPost($(this).val());
        });

        initFacebook(function () {
            function createPostDiv(v){
               // if(v.type!="status") console.log(v);
                var divstr = null;

                var photoTemplate = _.template("<img src='<\%-src%>'/>");
                var template = _.template("<div class='Status'><img src='<\%-picture%>'/><div class='main-text'><\%-main_text\%></div></div>");
                var data = {};
                data.main_text = v.message ? v.message : v.story;
                data.picture   = v.picture;

                $(".site-container").append( template(data) ).children().last().click(function(){
                    $(".left-pad").html(JSON.stringify(v));
                });
            }
            function createPostDivAndPrepend(v){
                // if(v.type!="status") console.log(v);
                var divstr = null;

                var photoTemplate = _.template("<img src='<\%-src%>'/>");
                var template = _.template("<div class='Status'><img src='<\%-picture%>'/><div class='main-text'><\%-main_text\%></div></div>");
                var data = {};
                data.main_text = v.message ? v.message : v.story;
                data.picture   = v.picture;

                $(".site-container").prepend(template(data))
                                    .children()
                                    .last()
                                    .click(function(){
                                        $(".left-pad").html(JSON.stringify(v));
                                    });
            }


            if (localStorage.latest_post) { //if is there a cached response already exist.
                var loadedPosts = [];

                if(localStorage.loaded_posts)
                    loadedPosts = JSON.parse(localStorage.loaded_posts);
                else{
                    loadedPosts = [];
                }

                var latest_post = JSON.parse(localStorage.latest_post);

                _.each(loadedPosts, createPostDiv);

                console.log(latest_post);

                $(".Loading").css({"display":"none"});
                var loadingPrevFBPostLoop = function(response){
                    loadedPosts =
                            _.chain(loadedPosts)
                            .union(response.data)
                            .uniq(function(v){return v.id;})
                            .sortBy(function(v){return -(new Date(v.created_time)).getTime();})
                            .value();

                    _(response.data.reverse()).each(createPostDivAndPrepend);

                    if(response.data.length > 0 && response.paging.previous){
                        console.log(response);
                        $.getJSON(response.paging.previous,loadingPrevFBPostLoop);
                    }
                    else {
                        console.log(loadedPosts);
                        localStorage.loaded_posts = JSON.stringify(loadedPosts);
                        localStorage.latest_post  = JSON.stringify(_.first(loadedPosts));
                        $(".Loading").fadeOut();
                    }
                }
                FB.api("me/posts",{
                    limit:25,
                    since: (new Date(latest_post.created_time).getTime())/1000
                },loadingPrevFBPostLoop);

            } else {
                var loadedPosts = [];

                $(".Loading").html("페이스북 정보를 로딩중입니다. 이 로딩은 초기 한번만 실행됩니다");
                var loadingNextFBPostLoop = function(response){
                    loadedPosts = _.union(loadedPosts,response.data);
                    _.each(response.data, createPostDiv);
                    if(response.data.length > 0 && response.paging.next){
                        $.getJSON(response.paging.next,loadingNextFBPostLoop);
                        $(".Loading").append("<p>" + response.data.length + "</p>");
                    }
                    else {
                        console.log("loading finished");
                        alert("글 로딩이 끝났습니다");
                        localStorage.loaded_posts = JSON.stringify(loadedPosts);
                        localStorage.latest_post  = JSON.stringify(_.first(loadedPosts));
                        $(".Loading").fadeOut();
                    }
                }
                FB.api("me/posts",{limit:200},loadingNextFBPostLoop);

            }





        });
    });
</script>
<style>
    html, body {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    * {
        font-size: 1em;
        letter-spacing: -1px;
        font-family: NanumGothic, "Apple SD Gothic Neo", "Malgun Gothic", AppleGothic, Dotum, sans-serif;
        margin: 0px;
        padding: 0px;
    }

    .site{
        width:100%;
        height:100%;
    }

    .site .left-pad{
        float:left;
        width:30%;
        height:100%;
        background-color:#df8505;
    }
    .site .right-pad{
        float:right;
        width:70%;
        height:100%;
        background-color:#2f96b4;
        overflow-y:scroll;
    }

    .site-container {
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    .date-container {
        border-radius: 10px;
        background-color: rgb(142, 194, 190);
        width: 500px;
        height: auto;
        margin-bottom: 10px;
    }

    .date-container .title {
        text-align: center;
        font-family: "맑은 고딕";
        font-size: 40px;
    }

    .Photo {
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.28);
        margin-bottom: 8px;
        border-radius: 5px;
    }

    .Photo img {
    }

    .Photo .caption {
    }

    .Status {
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.28);
        margin-bottom: 8px;
        border-radius: 5px;
    }

    .Link {
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.28);
        margin-bottom: 8px;
        border-radius: 5px;
    }

    .Loading {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: black;
        color: white;
    }
</style>
</head>
<body>
<div class="site">
    <div class="left-pad">

    </div>
    <div class="right-pad">
        <header>
            <button onclick="showPreviousDayContent();"><<</button>
            <button id="showDayButton" onclick="showTodayContent();">오늘꺼 보기</button>
            <button onclick="showNextDayContent();">>></button>
            <input type="text" id="search_input"/>
        </header>
        <div class="site-container">

        </div>
        <div class="Loading">Loading..</div>
    </div>
</div>
</body>
</html>