<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Facebook Diary</title>
    <meta charset="utf-8">

    <!DOCTYPE html>
    <html lang="ko">
    <head>
        <title>Facebook Diary</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="/css/fbdiary_new.css" rel="stylesheet" type="text/css"/>
        <link href="/css/sunny/jquery-ui-1.10.2.custom.css" rel="stylesheet">
        <link href="/fancybox/jquery.fancybox.css" rel="stylesheet">

        <script src="/js/jquery-1.8.2.min.js"></script>
        <script src="/js/jquery.transit.min.js"></script>
        <script src="/js/jquery-ui-1.10.2.custom.js"></script>
        <script src="/fancybox/jquery.fancybox.js"></script>
        <script src="/js/moment/moment.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/async.js"></script>
        <script src="/js/step.js"></script>
        <script src="/js/js-url.js"></script>
        <script src="/js/underscore-min.js"></script>
        <script src="http://connect.facebook.net/en_US/all.js"></script>
        <script src="/js/FBDiary/Post.js"></script>
        <script src="/js/FBDiary/PostPresenter.js"></script>
        <script src="/js/FBDiary/FacebookContentsManager.js"></script>
        <script src="/js/FBDiary/PostSearcher.js"></script>
        <script src="/js/FBDiary/TimelineController.js"></script>
        <script src="/js/FBDiary/DiaryController.js"></script>
        <script src="/js/FBDiary/facebook_clip.js"></script>
        <script src="/js/FBDiary/google_analytics.js"></script>
        <script src="/js/FBDiary/FacebookDiaryApp.js"></script>
        <script src="/js/FBDiary/keep-aspect-ratio.js"></script>
        <script>
            $(document).ready(function () {
                FacebookDiaryApp();
            });
        </script>
    </head>
    <body>
        <div class="site">
            <div class="diary keep-aspect-ratio" style="min-width:1024px" aspect-ratio="0.73">
                <div class="left-pad">
                    <div class="fbdiary_logo"></div>
                    <div class="left_board">
                        <div class="profile">
                            <div class="profile_image">
                                <img/>
                            </div>
                            <h4 div class="profile_name">
                            </h4>
                        </div>
                        <div class="search_bar">
                            <input type="text" id="search-input" class="search" placeholder="Search">
                            <button class="search_icon" id="search-button"></button>
                        </div>
                        <div class="scrap_name"></div>
                        <div class="clip-container">
                        </div>
                    </div>
                </div>
                <div class="right-pad">
                    <div class="date-container">
                        <button class="btn btn-inverse" onclick="diaryController.moveDate(-1);"><<-</button>
                        <h5 style="display:inline-block;margin:0;" class="date_indicator"></h5>
                        <button class="btn btn-inverse" onclick="diaryController.moveDate(+1);">->></button>
                    </div>
                    <div class="site-container">
                        <div class="post-container"></div>
                        <div class="search-results-list">
                            <h3 class="title">검색 결과</h3>
                        </div>
                        <div class="left-navigation">
                            <div class="vertical-timeline">
                                <div class="icon-time indicator"></div>
                                <div class="hour">00</div>
                                <div class="hour">01</div>
                                <div class="hour">02</div>
                                <div class="hour">03</div>
                                <div class="hour">04</div>
                                <div class="hour">05</div>
                                <div class="hour">06</div>
                                <div class="hour">07</div>
                                <div class="hour">08</div>
                                <div class="hour">09</div>
                                <div class="hour">10</div>
                                <div class="hour">11</div>
                                <div class="hour">12</div>
                                <div class="hour">13</div>
                                <div class="hour">14</div>
                                <div class="hour">15</div>
                                <div class="hour">16</div>
                                <div class="hour">17</div>
                                <div class="hour">18</div>
                                <div class="hour">19</div>
                                <div class="hour">20</div>
                                <div class="hour">21</div>
                                <div class="hour">22</div>
                                <div class="hour">23</div>
                                <div class="hour">24</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="templates" style="display:none;">
                <div id="video_post">
                    <div class="video">
                        <div style="width:100%;float:left">
                            <div style="width:30%;height:auto;display:inline-block;float:left">
                                <div class="photo-container">
                                    <a href="{{post.source}}" target="_blank">
                                        <img src="{{'http://img.youtube.com/vi/' + url('?v',post.link) + '/mqdefault.jpg'}}"
                                             class="loading-image" onload="$(this).removeClass('loading-image');"/>
                                    </a>
                                </div>
                            </div>
                            <div style="width:68%;display:inline-block;float:left;margin-left:2%">
                                <h5 class="link-title">
                                    {{post.name}}
                                </h5>
                                <small class="muted">{{post.description}}</small>
                                <div class="link-caption">
                                    <small>{{post.status_type}}</small>
                                    <p>{{post.message?post.message:post.story}}</p>
                                </div>
                            </div>
                        </div>
                        <i class="icon-film"></i>
                        <a href="https://www.facebook.com/{{post.id}}" target="_blank" class="link-button"></a>
                    </div>
                </div>
                <div id="photo_post">
                    <div class="status">
                        <div style="-webkit-transform: rotate(0deg);" class="Photo">
                            <div class="photo-container">
                                <img src="{{post.picture}}"
                                     class="img-rounded loading-image"
                                     onload="$(this).removeClass('loading-image');" />

                                <div class="caption-overlay">
                                    <pre>{{post.caption}}</pre>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p>
                                {{post.message?post.message:post.story}}
                            </p>
                        </div>
                        <i class="icon-camera"></i>
                        <a href="https://www.facebook.com/{{post.id}}" target="_blank" class="link-button"></a>
                    </div>
                </div>
                <div id="link_post">
                    <div class="link">
                        <div style="width:100%;float:left">
                            <div style="width:20%;height:auto;display:inline-block;float:left">
                                <div class="photo-container">
                                    <a href="{{post.link}}" target=_blank>
                                    <img src="{{post.picture}}"
                                         class="loading-image" onload="$(this).removeClass('loading-image');"/>
                                    </a>
                                </div>
                            </div>
                            <div style="width:78%;display:inline-block;float:left;margin-left:2%">

                                <h5 class="link-title"> <a href="{{post.link}}" target=_blank>{{post.name}}</a></h5>
                                <small class="muted">{{post.description}}</small>
                                <div class="link-caption">
                                    <small>{{post.status_type}}</small>
                                    <p>{{post.message}}</p>
                                </div>
                            </div>
                        </div>
                        <i class="icon-globe"></i>
                        <a href="https://www.facebook.com/{{post.id}}" target="_blank" class="link-button"></a>
                    </div>
                </div>
                <div id="comment_post">
                    <div class="status">
                        <p>{{post.main_text}}</p>
                        <i class="icon-comment"></i>
                        <a href="https://www.facebook.com/{{post.id}}" target="_blank" class="link-button"></a>
                    </div>
                </div>
                <div id="likes_post">
                    <div class="status">
                        <p>{{post.main_text}}</p>
                        <i class="icon-heart"></i>
                        <a href="https://www.facebook.com/{{post.id}}" target="_blank" class="link-button"></a>
                    </div>
                </div>
                <div id="status_post">
                    <div class="status">
                        <div>
                            <small>{{post.status_type}}</small>
                            <p>{{post.main_text}}</p>
                        </div>
                        <i class="icon-pencil"></i>
                        <a href="https://www.facebook.com/{{post.id}}" target="_blank" class="link-button"></a>
                    </div>
                </div>



                <div id="cliped_photo_post">
                    <div class="cliped_photo">
                        <img class="img-rounded" src="{{post.picture}}"/>
                        {{post.status_type}}</br>
                        {{post.caption}}</br>
                        {{post.message?post.message:post.story}}
                    </div>
                </div>
                <div id="cliped_link_post">
                    <div class="link">
                        <div class="link-thumbnail">
                            <img class="img-rounded" src="{{post.picture}}"/></p>
                            <p style="text-align:left; font-weight:bold;">{{post.name}}</p>

                            <div class="link-url">
                                <a href="{{post.link}}">
                                    <p>{{post.link}}</p>
                                </a>
                            </div>
                            <div class="link-caption">
                                <small>{{post.status_type}}</small>
                                <p>{{post.message}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="fancybox.iframe" id="facebook-popup"></a>
        </div>
        <div class="Loading"></div>
    </body>
</html>