<!DOCTYPE html>
<html lang="ko">
<head>
    <title>게임</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <link href="/css/fbdiary.css" rel="stylesheet" type="text/css"/>
    <script src="/js/async.js"></script>
    <script src="/js/step.js"></script>
    <script src="/js/date_format.js"></script>
    <script src="/js/js-url.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="http://ricostacruz.com/jquery.transit/jquery.transit.min.js"></script>
    <script src="/js/FBDiary/Post.js"></script>
    <script src="/js/FBDiary/FacebookContentsManager.js"></script>
    <script src="/js/FBDiary/DiaryController.js"></script>
    <script src="/js/FBDiary/facebook_clip.js"></script>
    <script src="/js/FBDiary/google_analytics.js"></script>
    <script>

    function getTemplate(template_selector){
        _.templateSettings = {
            interpolate : /\{\{(.+?)\}\}/g
        };
        var rawTemplateHtml = _.unescape($("#templates").find(template_selector).html());
        return _.template(rawTemplateHtml);
    }
    function PostPresenter(contentsManager){
        this.contentsManager = contentsManager;
    }
    PostPresenter.prototype = {
        _presentVideo : function(post){
            var videoTemplate = getTemplate("#video_post");
            return videoTemplate({post : post});
        },
        _presentPhoto : function(post){
            try{
                var self = this;
                var photoTemplate = getTemplate("#photo_post");
                var $photo_post = $(photoTemplate({post : post}));                var photoSourceObject = null;
                photoSourceObject = this.contentsManager.getOuterObject(post.object_id,function(error,photo){
                    if(error) {}
                    else $photo_post.find("img").attr("src",photo.source);
                });
                if (photoSourceObject) {
                    $photo_post.find("img").attr("src",photoSourceObject.source);
                }

                return $photo_post;
            } catch(e) {
                console.error(e);
                console.log(post);
            }
        },
        /**
         * @param post
         */
        presentPost : function(post){
            if(post.type == "video"){
                return this._presentVideo(post);
            } else if(post.type == "photo") {
                return this._presentPhoto(post);
            } else if(post.type == "status") {

            }
        }
    };

    var diaryController = new DiaryController();
    var contentsManager = new FacebookContentsManager();
    var postPresenter   = new PostPresenter(contentsManager);
    $(document).ready(function () {

        diaryController.fbContentsManager = contentsManager;

        contentsManager.connectFacebook(function(error,response){
            if (error) {}
            var posts = this.getCachedPosts();
            if (posts && posts.length > 0) {
                $(".Loading").html("마지막 데이터 로딩 이후에 새로 추가된 페이스북 컨텐츠를 로딩 중입니다...");
                this.loadNewPosts(function(error,posts,stepCount,isLast){
                    if(error){ throw error; }
                    if(isLast){
                        $(".Loading").fadeOut();
                        $.each(posts,function(index,post){
                            var postString = postPresenter.presentPost(post);
                            $(".site-container").append(postString);
                        });
                        diaryController.showToday();
                    } else {
                        console.log( _.first(posts).created_time , _.last(posts).created_time);
                    }
                });
            }
            else {
                $(".Loading").html("초기 데이터를 로딩중입니다...");
                this.loadAllPosts(function(error,posts,stepCount,isLast){
                    if (error) { throw error; }
                    if (isLast) {
                        $(".Loading").fadeOut();
                        $.each(posts,function(index,post){
                            var postString = postPresenter.presentPost(post);
                            $(".site-container").append(postString);
                        });
                        diaryController.showToday();
                    } else {
                        console.log( _.first(posts).created_time , _.last(posts).created_time);
                    }
                });
            }
        });
    });

</script>
</head>
<body>

<div class="site">
    <div class="left-pad">

    </div>
    <div class="right-pad">
        <header>
            <button onclick="clearCache();">clear Cache</button>
            <button onclick="showPreviousDayContent();"><<</button>
            <button id="showDayButton" onclick="showTodayContent();">오늘꺼 보기</button>
            <button onclick="showNextDayContent();">>></button>
            <input type="text" id="search_input"/>
        </header>
        <div class="site-container">
        </div>
        <div class="Loading">Loading..</div>
    </div>
</div>

<div id="templates" style="display:none;">
    <div id="video_post">
        <div class="Status">
            <a href="{{post.source}}" target="_blank"></a>
            <div style="-webkit-transform: rotate(0deg); width: 269px; height: 303px; display: block;"
                 class="Photo">
                <div class="PhotoContainer">
                    <img src="{{'http://img.youtube.com/vi/' + url('?v',post.link) + '/mqdefault.jpg'}}" />
                </div>
                <div class="TextContainer">
                    <div class="DateContainer">
                    </div>
                    <div class="MessageContainer">
                        <p>{{post.name}}</p>
                        <p>{{post.description}}</p>
                    </div>
                </div>
            </div>

            <div>
                <p>{{post.message?post.message:post.story}}</p>
            </div>
        </div>
    </div>created_time: "2013-04-01T15:59:23+0000"
    <div id="photo_post">
        <div class="Status">
            <div style="-webkit-transform: rotate(0deg); width: 269px; height: 303px; display: block;" class="Photo">
                <div class="PhotoContainer">
                    <img src="{{post.picture}}" />
                </div>
                <p>
                    {{post.status_type}}
                </p>
            </div>
            <div>
                <p>
                    {{post.message?post.message:post.story}}
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>