<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form method="POST" action = "./login">
            <div>이름 <input type="text" name="user[name]"/></div>
            <div>비밀번호 <input type="password" name="user[password]"/></div>
            <input type="submit" value="submit"/>
        </form>
    </body>
</html>
