html,body{
			font-size: 0.9em;
    		letter-spacing: -0.5px;
    		font-family: NanumGothic, "Apple SD Gothic Neo", "Malgun Gothic", AppleGothic, Dotum, sans-serif;
			width: 100%;
			height: 100%; 
			padding: 0px;
			margin: 0px;
			line-height:150%;
			overflow-x: none;
			}
			
		.site{
			width:100%;
			height:100%;
			margin-left:auto;
			margin-right:auto;
			position:relative;
			background-image: url("/images/background.png");
			overflow-x: none;
			overflow-y: none;
			}
			
		.diary{
			width:100%;
			height:100%;
			margin-left:auto;
			margin-right:auto;
			position:relative;
			}
			
		.left-pad{
		    float:left;
		    position:relative;
		    padding: 0px;
			margin: 0px;
			overflow-x: none;
			width:18%;
			height:100%;
			left:10%;
			background-size:100% 100%;
			
	    }
	
	    .right-pad{
			float: right;
			position:relative;
			padding: 0px;
			margin: 0px;
			overflow-x: none;
			width:61.5%;
			height:100%;
			right:10%;
			background-color: none;
		}	
	
	    .left_board{
			float: right;
			position:relative;
			padding: 0px;
			margin: 0px;
			overflow-x: none;
			top:5%;
			width:100%;
			height:85%;
			background-color: none;
			background-size: 100% 100%;
			background-image: url("/images/left.png");
		}	
	
		.site-container{
			float: right;
			position: relative;
			top:5%;
			width: 100%;
			height: 85%;
			background-size: 100% 100%;
			background-image: url("../images/paper.png");
			overflow-y:scroll;
		}
		
		.search-view{
			float: right;
			position: relative;
			top:5%;
			width: 100%;
			height: 85%;
			background-size: 100% 100%;
			background-image: url("../images/paper.png");
		}
	
		.fbdiary_logo{
			float:left;
			position:relative;
			top:5%;
			width:100%;
			height:5%;
			background-size: 100% 100%;
			background-image: url("../images/name.png");
		}
		
		.profile{
			float:left;
			position: relative;
			top:3.5%;
			left:6%;
			width:88%;
			height:8%;
			background-color:transparent;
		}
		
		.profile_image{
			float: left;
			position: relative;
			width: auto%;
			height: 100%;
			border-radius: 10%;
	        overflow: hidden;
			border-radius:10%;
		}
		.profile_name{
			float: right;
			position: relative;
			right: 3%;
			margin-left: 1%;
			width:auto;
			height:100%;
			color: grey;
			background-color:transparent; 
		}
		img.input{ vertical-align: middle;}
		
		.search_bar{
			position: relative;
			top:5%;
			left:6%;
			width:90%;
			height:5%;
			background-size: 100% 100%;
			background-color: transparent;
			border:none;
			font-size:10px;
			color:white;
		}
		
		.search{
			position: relative;
			width:88%;
			height:100%;
			background-size: 100% 100%;
			background:url('../images/searchbar/search_bar.png') no-repeat;
			border:none;
			font-size:10px;
			color:white;
		}
		
		.search_icon{
			position:relative;
			float:right;
			width:8%;
			height:100%;
			background-size: 100% 100%;
			background-image: url("../images/searchbar/search_icon.png");
			border:0px;
			background-color:transparent;
		}
	
		.scrap_name{
			position:relative;
			float:left;
			width:100%;
			height:5%;
			top:7%;
			background-size: 100% 100%;
			background-image: url("../images/scrap_icon.png");		
		}
		.clip-container{
			position:relative;
			float:left;
			left:3%;
			top:8%;
			width:94%;
			height:73%;
			background-color:transparent;
			overflow-x:scroll;
		}
		
		.date-container{
			float:left;
			position:relative;
			top:5%;
			width:100%;
			height:5%;
			background-image: transparent;
		}
		
        .keep-aspect-ratio{
            position: absolute;
        }
        
        .profile_image .image{
            width:100%;
            height:100%;
        }
        .profile_image img{
            width:100%;
            height:100%;
        }
        
        .status{
        	margin-top:1.3%;
        	margin-left: 5%;
        	width: 85%;
        	height: auto;
        	padding-left:1%;
        	padding-right:1%;
        	padding-top:0.5%;
        	padding-bottom: 0.5%;
        	border-radius: 5px; 
        	background-color:rgba(216,216,216,0.78)
	     }
	     
	     .link{
        	margin-top:1.3%;
        	margin-left: 5%;
        	margin-bottom:1.3%;
        	width: 85%;
        	height: auto;
        	padding-left:1%;
        	padding-right:1%;
        	padding-top:0.5%;
        	padding-bottom: 0.5%;
        	border-radius: 5px; 
        	background-color:rgba(216,216,216,0.78)
	     }
	     
	     .link-title{
        	width: 100%;
        	margin-bottom:1%; 
         }
	     
	     .link-thumbnail{
	     	position:relative;
	     	width:15%;
	     	height:auto;
	     	text-align:left;
	        height:auto;
	     	border-radius: 3px;
	     	background-color:white;
	     }
	     	
	     .link-thumbnail img{
	     	width:100%;
	     	height:auto;
	     	text-align:left;
	        height:auto;
	     	border-radius: 3px;
	     }
	     
	     .link-url{
	     	 position:relative;
		     width:85%;
		     height:auto;
		     font-size:0.9em;
		     line-height:130%;
	     }
	     
	     .link-title{
            width: 100%;
        	height: auto;
        	padding-top:1%;
        	padding-bottom: 0.5%;
	     }

	     .video{
        	margin-top:1.3%;
        	margin-left: 5%;
        	margin-bottom:1.3%;
        	width: 85%;
        	height: auto;
        	padding-left:1%;
        	padding-right:1%;
        	padding-top:0.5%;
        	padding-bottom: 0.5%;
        	border-radius: 5px; 
        	background-color:rgba(216,216,216,0.78)
	     }
	     
	     .thumbnail img{
	     	width:auto;
	     	text-align:center;
	        height:20%;
	     	border-radius: 3px;
	     }
	     
	     .photocontainer img{
	     	width:auto;
	     	text-align:center;
	        height:20%;
	     	border-radius: 3px;
	     }