<!DOCTYPE html>
<html lang="ko">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
        <link rel="shortcut icon" href="/icons/logo3.ico">
        
		<link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="/css/sunny/jquery-ui-1.10.2.custom.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link href="/color-picker/jquery.colorpicker.css" rel="stylesheet" type="text/css"/>
		<link href="/css/SoundShow/view.css" rel="stylesheet" type="text/css"/>

		<!--script src="/js/require.js"/-->
        <script src="/js/jquery-1.7.1.js"></script>
        <script src="/js/jquery.transit.min.js"></script>
        <!-- <script src="/js/jquery-ui.js"></script>-->	
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
		<script src="/js/google_analytics.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/underscore.js"></script>
        <script src="/js/SoundShow/soundshow.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/color-picker/jquery.colorpicker.js"></script>
		<script src="/color-picker/i18n/jquery.ui.colorpicker-nl.js"></script>
		<script src="/color-picker/swatches/jquery.ui.colorpicker-pantone.js"></script>
		<script src="/color-picker/parts/jquery.ui.colorpicker-rgbslider.js"></script>
		<script src="/js/parse-1.2.7.min.js"></script>
		<script src="/js/SoundShow/app.js"></script>
	    
	    <script type="text/template" id="pattern-template">
			<!--div class="pattern"-->
				<div class="detail">
				</div>
				<button class="delete-btn" >delete</button>
			<!--/div-->
		</script>
	    <script type="text/template" id="Pattern-FadeTo-template">
			<div class="FadeTo" style="background-color:<?=e.color?>">
				<p class="text-left">t:<?=e.time?></p>
				<p class="text-left">d:<?=e.delay?></p>
			</div>
		</script>
	    <script type="text/template" id="Pattern-RandomBlink-template">
			<div class="RandomBlink">
				<p class="text-left">interval:<?=e.interval?></p>
				<p class="text-left">delay:<?=e.delay?></p>
				<p class="text-left">colors:<?=e.colors&&e.colors.length>0?JSON.stringify(e.colors):"random"?></p>
			</div>
		</script>
		<script type="text/template" id="Pattern-Color-template">
			<!--div class="Color" style="background-color:<?=e.color?>"-->
				
			<!--/div-->
		</script>
	    <script type="text/template" id="pattern_list_template">
			<!--div class="pattern_list_container"-->
				<div class="pattern_list">
				</div>
				<div class="btn-group">
					<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
				    	add New Pattern
				    	<span class="caret"></span>
				  	</a>
				  	<ul class="dropdown-menu">
					    <li><a tabindex="-1" class="new-pattern">Color</a></li>
					    <li><a tabindex="-1" class="new-pattern">RandomBlink</a></li>
					    <li><a tabindex="-1" class="new-pattern">FadeTo</a></li>
					</ul>
				</div>
			<!--/div-->
		</script>
		
		<script type="text/template" id="login-template">
	   		<header id="header"></header>
	      	<div class="login">
		        <form class="login-form">
		        	<h2>Log In</h2>
		         	<div class="error" style="display:none"></div>
		         	<input type="text" id="login-username" placeholder="Username" />			 
					<input type="password" id="login-password" placeholder="Password" />
				    <button>Log In</button>
		        </form>
				<form class="signup-form">
		        	<h2>Sign Up</h2>
		        	<div class="error" style="display:none"></div>
		        	<input type="text" id="signup-username" placeholder="Username" />
		        	<input type="password" id="signup-password" placeholder="Create a Password" />
		        	<button>Sign Up</button>
		      	</form>
			</div>
	    </script>
		<script type="text/template" id="track-template">
			<!--div class="track"-->
				<div class='header'>
					<h4><?=e.objectId?></h4>
					<button class="btn play-btn">play</button>
					<button class = "btn btn-danger delete-track-btn">delete</button>
				</div>
			<!--/div-->
		</script>
	    <script type="text/template" id="color-template">
			<div class="color" style="background-color:<?=e.color?>;">
				<div class="overlay">
				</div>
			</div>
		</script>
		
		<script>
			function connectWS() {
				window.socket = null;
                console.log('Connecting to local server...');
                if (socket == null) {
                    socket = io.connect("/SoundShow");
					socket.on('message', function(data) {
                    });
                    socket.on('disconnect', function() {
					});
                }
                socket.socket.connect();
            }
						
			$(document).ready(function() {
                connectWS();
            	$("body").keydown(function(e){
					switch(e.keyCode) {
						case 39 : 
							break;
						case 37 :
							break;
 				   	/*	case 81 : $(".pattern")[0].model.play(); break; 
						case 87 : $(".pattern")[1].model.play(); break;
						case 69 : $(".pattern")[2].model.play(); break;
						case 82 : $(".pattern")[3].model.play(); break;
						case 84 : $(".pattern")[4].model.play(); break;  */
 				   	}
            	});
			});
        </script>
        <title>Comunicar</title>
    </head>
    <body>
		<header>
			<h1>SoundShow Control Panel</h1>
		</header>
		<div class="container-fluid">
	  		<div class="row-fluid">
	    		<div class="span3" id="left-main-column" 
						style="background-color: rgb(228, 228, 228);border-radius: 10px;padding: 5px;">
					<h3> Patterns </h3>

			 	</div>
	    		<div class="span9" style="background-color: rgb(228, 228, 228);border-radius: 10px;padding: 5px;">
					<h3> Tracks </h3>
					<div class="track_list" id="track_list">
						<button class = "btn add-new-btn">New Track</button>
					</div>
					<button class = "btn btn-danger btn-large" onclick="stopAll();">stop all</button>
				</div>
	  	  </div>
		</div>
		<!-- <div>
		<button onclick="startSendingBlink();">send blink</button>
		<button onclick="sendColor();">send color</button> -->
	</body>
</html>