<!DOCTYPE html>
<html lang="ko">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
        <link rel="shortcut icon" href="/icons/logo3.ico">
        
		<link href="/css/bootstrap.cyborg.min.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="/css/sunny/jquery-ui-1.10.2.custom.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link href="/color-picker/jquery.colorpicker.css" rel="stylesheet" type="text/css"/>
		<link href="/css/SoundShow/view.css" rel="stylesheet" type="text/css"/>
		<script src="/js/jquery-1.7.1.js"></script>
        <script src="/js/jquery.transit.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
		<script src="/js/google_analytics.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/underscore.js"></script>
        <script src="/js/SoundShow/soundshow.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/color-picker/jquery.colorpicker.js"></script>
		<script src="/color-picker/i18n/jquery.ui.colorpicker-nl.js"></script>
		<script src="/color-picker/swatches/jquery.ui.colorpicker-pantone.js"></script>
		<script src="/color-picker/parts/jquery.ui.colorpicker-rgbslider.js"></script>
		<script src="/js/parse-1.2.7.min.js"></script>
		<script src="/js/SoundShow/patterns.js"></script>
		<script src="/js/SoundShow/app.js"></script>
		<script src="/js/SoundShow/mix-pad.js"></script>
		<script src="/js/SoundShow/timeline.js"></script>
		

	    <script type="text/template" id="pattern-template">
			<!--div class="pattern"-->
				<button class="btn btn-danger delete-btn" >
					<i class="icon-trash"></i>
				</button>
				<div class="detail">
				</div>
			<!--/div-->
		</script>
	    <script type="text/template" id="Pattern-FadeTo-template">
			<!--div class="FadeTo" style="background-color:<?=e.color?>"-->
				<div class="thumbnail" style="background-color:<?=e.color?>"></div>
				<em>time</em>
				<input class="time_input" type="text" value="<?=e.time?>"/>
				<em>delay</em>
				<input class="delay_input" type="text" value="<?=e.delay?>"/>
			<!--/div-->
		</script>
	    <script type="text/template" id="Pattern-RandomBlink-template">
			<!--div class="RandomBlink"-->
				<label>interval</label>
				<input class="interval_input" type="text" value="<?=e.interval?>"/>
				<label>delay</label>
				<input class="delay_input" type="text" value="<?=e.delay?>"/>
				<div class="Colors">
					<? if(!e.colors || e.colors.length == 0) {?>
						Random
					<?} else {?>
						<?e.colors.forEach(function(v){?>
							<div class="Color" style="background-color:<?=v?>">
							</div>
						<?})?>
					<?}?>
				</div>
				<button class="btn-info add-new-color">add color</button>
			<!--/div-->
		</script>
		<script type="text/template" id="Pattern-Color-template">
			<!--div class="Color" style="background-color:<?=e.color?>"-->
	    	<label class="control-label">delay
      	  		<input type="text" class='delay-input' value="<?=e.delay?>">
			</label>
			<!--/div-->
		</script>
	    <script type="text/template" id="pattern_list_template">
			<!--div class="pattern_list_container"-->
				<div class="pattern_list">
				</div>
				<div class="btn-group">
					<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-plus"></i>
				    	<!--span class="caret"></span-->
				  	</a>
				  	<ul class="dropdown-menu">
					    <li><a tabindex="-1" class="new-pattern">Color</a></li>
					    <li><a tabindex="-1" class="new-pattern">RandomBlink</a></li>
					    <li><a tabindex="-1" class="new-pattern">FadeTo</a></li>
					</ul>
				</div>
			<!--/div-->
		</script>
		
		<script type="text/template" id="login-template">
	   		<header id="header"></header>
	      	<div class="login">
		        <form class="login-form">
		        	<h2>Log In</h2>
		         	<div class="error" style="display:none"></div>
		         	<input type="text" id="login-username" placeholder="Username" />			 
					<input type="password" id="login-password" placeholder="Password" />
				    <button>Log In</button>
		        </form>
				<form class="signup-form">
		        	<h2>Sign Up</h2>
		        	<div class="error" style="display:none"></div>
		        	<input type="text" id="signup-username" placeholder="Username" />
		        	<input type="password" id="signup-password" placeholder="Create a Password" />
		        	<button>Sign Up</button>
		      	</form>
			</div>	
	    </script>
		<script type="text/template" id="track-template">
			<!--div class="track"-->
				<div class='header'>
					<h4><?=e.objectId?></h4>
					<button class="btn play-btn">
						<i class="icon-play"></i>
					</button>
					<button class="btn btn-danger delete-track-btn">
						<i class="icon-trash"></i> Delete
					</button>
					<input type="text" class="hotkey-input" value='<?=String.fromCharCode(e.hotkey)?>'/>
				</div>
			<!--/div-->
		</script>
	    <script type="text/template" id="color-template">
			<div class="color" style="background-color:<?=e.color?>;">
				<div class="overlay">
				</div>
			</div>
		</script>
		
		<script>
			function connectWS() {
				window.socket = null;
                console.log('Connecting to local server...');
                if (socket == null) {
                    socket = io.connect("/SoundShow");
					socket.on('message', function(data) {
                    });
                    socket.on('disconnect', function() {
					});
                }
                socket.socket.connect();
            }
						
			function get_random_color() {
			    var letters = '0123456789ABCDEF'.split('');
			    var color = '#';
			    for (var i = 0; i < 6; i++ ) { color += letters[Math.round(Math.random() * 15)]; }
			    return color;
			}
			$(document).ready(function() {
                connectWS();
			});
        </script>
        <title>Comunicar</title>
    </head>
    <body>
		<header>
			<h4>SoundShow Control Panel</h4>
		</header>
		<div class="container-fluid">
	  		<div class="row-fluid">
	    		<div class="span3" id="left-main-column" 
					style="background-color: rgb(228, 228, 228);border-radius: 10px;padding: 5px;">
					<h4 id="touch-pad-out"></h4>
					<div id="touch-mix-pad" class="touch-pad">
						<canvas>
						</canvas>
						<button class="btn btn-danger recording-btn">Recording</button>
					</div>
					<iframe class="monitoring-view" width="100%" src="client"></iframe>
				</div>
	    		<div class="span9" style="background-color: rgb(228, 228, 228);border-radius: 10px;padding: 5px;">
					<h3> Tracks </h3>
					<div class="track_list" id="track_list">
						<button class = "btn add-new-btn">New Track</button>
					</div>
					<button class = "btn btn-danger btn-large">stop all</button>
					<div class="timeline-container" id="timeline">
					</div>
				</div>
	  	  </div>
		</div>
		<div class="login_view" id="login_view">
			<div class="input-container">
				<div class="form-horizontal">
					<div class="control-group">
				    	<label class="control-label" for="inputEmail">ID</label>
				    	<div class="controls">
				      	  <input type="text" id="inputEmail" 
						  		 class='id-input' placeholder="ID"/>
				    	</div>
				  	</div>
				  	<div class="control-group">
				    	<label class="control-label" for="inputPassword">Password</label>
				    	<div class="controls">
				      		<input type="password" 
									class="password-input"
									id="inputPassword" 
									placeholder="Password"/>
				    	</div>
				  	</div>
				  	<div class="control-group">
				    	<div class="controls">
				      		<label class="checkbox">
				        		<input type="checkbox"> Remember me
				      	  	</label>
				      	  	<button type="button" class="btn login-btn">Sign in</button>
				    	</div>
				  	</div>
				</div>
			</div>
		</div>
	</body>
</html>