<html>
    <head>
        <title></title>
    </head>
    <body>
    	CONTENTS
    	<div>
    		<%contents.forEach(function(c,i){%>
	   	 		<div>
	   	 			<a href = "/contents/<%=c.name%>"> 
	   	 				<%=c.id%> | <%=c.name%>
	   	 			</a>
	   	 		</div>		    
	    	<%});%>
	    </div>
    </body>
</html>
