html, body {
    font-size: 0.9em;
    letter-spacing: -0.5px;
    font-family: NanumGothic, "Apple SD Gothic Neo", "Malgun Gothic", AppleGothic, Dotum, sans-serif;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    line-height: 150%;
    overflow-x: none;
}
p{
    overflow-wrap: break-word;
}
.Loading{
    width:100%;
    height:100%;
    position:absolute;
    left:0px;
    top:0px;
    background-color:rgba(0,0,0,0.81);
    text-align: center;
    padding-top: 10%;
    box-sizing: border-box;
    color:rgb(228, 228, 228);
	z-index:3;
}
.Loading h2 {
    color :rgb(203, 224, 255);
}

.site {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
	background-color:rgb(216,227,197);
    overflow:hidden;
}

.diary {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.diary .search-bar{
	height:50px;
	background-color:rgb(9, 61, 82);
}
.diary .search-bar{
	
}
.diary .diary-header{
    float:left;
    width:100%;
    height:15%;
    background-color: transparent;
    border-radius:5px;
}
.diary .diary-header .diary-graph{
    width:100%;
    height:100%;
	overflow:hidden;
}
.diary .diary-header .diary-graph .container{
	width:100000%;
	height:100%;
	position:relative;
}
.diary .diary-header .diary-graph .container > .line{
    width:15px;
    height:100%;
    display:inline-block;
	float:left;
}
.diary .diary-header .diary-graph .container > .hightlight {
	background-color:blue;
}
.diary .diary-header .diary-graph .container > .line > .component{
	margin-left:15%;
	margin-right:15%;
	width:70%;
    background-color:transparent;
}
.diary .diary-header .diary-graph .container > .line > .component[type='photo']{
	background-color:rgb(176,214,86);
}
.diary .diary-header .diary-graph .container > .line > .component[type='video']{
	background-color:rgb(86,214,128);
}
.diary .diary-header .diary-graph .container > .line > .component[type='status']{
	background-color:rgb(228,239,52);
}
.diary .diary-header .diary-graph .container > .line > .component[type='comment']{
	background-color:rgb(228,239,52);
}
.diary .diary-header .diary-graph .container > .line > .component[type='link']{
	background-color:rgb(228,239,52);
}

.diary .site-container {
    float: left;
    width: 100%;
    height: 85%;
    background-size: 100% 100%;
    overflow-y: scroll;
}
.diary .site-container .date-container {
    position: absolute;
    width: 100%;
    height: 5%;
	text-align: center;
    background-color:transparent;
	border-top: 4px solid rgb(230,46,37);
	z-index:2;
}
.diary .site-container .date-container .date-badge {
	width:20%;
	height:auto;
	margin-left: auto;
	margin-right: auto;
}
.diary .site-container .date-container .date-badge img{
	width:100%;
	height:auto;
}
.diary .site-container .date-container .date-badge h5{
	
}
.site-container .left-navigation{
    width:18%;
    height:100%;
    float:left;
    position: relative;
}
.site-container .search-results-list{
    width:20%;
    height:100%;
    float:left;
    position:absolute;
    left:-20%;
    top:0px;
    opacity:0.97;
    background-color: #bbd8e9;
    overflow:scroll;
}

.left-overlay
{
	position:absolute;
	left:0;
	top:0;
	width:10%;
	height:100%;
	background-color:rgba(0,0,0,0.3);
	z-index:4;
}
.right-overlay
{
	position:absolute;
	right:0;
	top:0;
	width:10%;
	height:100%;
	background-color:rgba(0,0,0,0.3);
	z-index:4;
}
.loading-image{
    display: block;
    width: 100%;
    height: 100px !important;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/loading.gif");
}

.site-container .search-results-list .title{
    text-align:center;
}
.site-container .search-results-list .year{

}
.site-container .search-results-list .date{
    padding-left:5%;
    border-radius: 8px;
    background-color: transparent;

    transition:background-color 0.3s;
    -webkit-transition:background-color 0.3s; /* Safari */
}
.site-container .search-results-list .date:hover{
    background-color: rgba(255, 255, 255, 0.7);
}


.site-container .left-navigation .vertical-timeline{
    width:100%;
    height:100%;
    position:relative;
}
.site-container .left-navigation .vertical-timeline .hour{
    width:100%;
    height:4%;
    border-top: 1px solid black;
    box-sizing:border-box;
}
.site-container .left-navigation .vertical-timeline .indicator{
    position: absolute;
    left:27%;
    top:0%;
    margin-top:-7px;
}
.site-container .left-navigation .vertical-timeline .time-tag{
    position: absolute;
    left:40%;
    background-image: url("../images/icons/tag.png");
    background-size: 100% 100%;
    width: 33%;
    height: 2.3%;
    margin-top: -7.15%;
}
.site-container .left-navigation .vertical-timeline .time-tag a{
    display:block;
    width:100%;
    height:100%;
}
.site-container .post-container{
    width: 100%;
    height:100%;
    margin-left: 0%;
    float:left;
    position:relative;
    overflow:hidden;
}
.site-container .post-container .date-page{
	width: 50%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	height: 77%;
	padding: 2%;
	float: left;
	display: block;
	position: absolute;
	background-color: rgb(255,255,255);
	left: 0px;
	top: 5%;
	overflow-y: scroll;
	margin-bottom: 2%;
	border-radius: 10px;
	box-shadow: 3px 3px 5px gray;
	box-sizing: border-box;
}
.search-result {
	width:15%;
	height:auto;
	border-radius: 5px;
	font-align:center;
	font-size:0.7em;
	line-height: 100%;
	background-color:rgba(207,206,206,0.91);
}
.search-view {
    float: right;
    position: relative;
    top: 5%;
    width: 100%;
    height: 85%;
    background-size: 100% 100%;
    background-image: url("../images/paper.png");
}

.fbdiary_logo {
    float: left;
    position: relative;
    top: 2%;
    width: 100%;
    height: 5%;
    background-size: 100% 100%;
    background-image: url("../images/name.png");
}

.profile {
    margin-top: 8%;
    margin-left: 5.5%;
    margin-bottom:5.5%;
    width: 88%;
    height: 8%;
    background-color: transparent;
}

.profile_image {
    float: left;
    position: relative;
    width: auto;
    height: 100%;
    border-radius: 10%;
    border-style:solid;
    border-width: 2px;
    border-color:rgba(255,255,255,0.73);
    overflow: hidden;
}
.profile_image img{
    width:auto;
    height:100%;
}

.profile_name {
    float: right;
    position: relative;
    margin-left: 2%;
    width: 70%;
    height: 100%;
    color: grey;
    background-color: transparent;
}

img.input {
    vertical-align: middle;
}

.search_bar {
    margin-left:5.5%;
    width: 90%;
    height: 5%;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    font-size: 10px;
    color: white;
}

.search {
    position: relative;
    width: 79%;
    height: 100%;
    background-size: 100% 100%;
    background: url('../images/searchbar/search_bar.png') no-repeat;
    border: none;
    font-size: 10px;
    color: white;
}

.search_icon {
    position: relative;
    float: right;
    width: 12%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url("../images/searchbar/search_icon.png");
    border: 0px;
    background-color: transparent;
}

.scrap_name {
    margin-top:5%;
    width: 100%;
    height: 5%;
    background-size: 100% 100%;
    background-image: url("../images/scrap_icon.png");
}

.clip-container {
    position: relative;
    float: left;
    width: 94%;
    height: 73%;
    background-color: transparent;
    overflow-x: scroll;
}

.keep-aspect-ratio {
    position: absolute;
}

.profile_image .image {
    width: 100%;
    height: 100%;
}


.link-button{
    display:inline-block;
    width:17px;
    height:17px;
    background-image: url("../images/icons/facebook.png");
    background-size: 100% 100%;
    float:right;
}

.status {
    margin-top: 1.3%;
    margin-left: 5%;
    width: 90%;
    height: auto;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 5px;
    background-color: rgba(216, 216, 216, 0.78)
}

.link {
    margin-top: 1.3%;
    margin-left: 5%;
    width: 90%;
    height: auto;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 5px;
    background-color: rgba(216, 216, 216, 0.78)
}

.link-title {
    width: 100%;
    margin-bottom: 1%;
}

.link-thumbnail {
    width:30%;
    height:auto;
    border-radius: 3px;
    background-color: white;
}

.link-thumbnail img {
    width: 100%;
    height: auto;
    text-align: left;
    height: auto;
    border-radius: 3px;
}

.link-url {
    position: relative;
    width: 85%;
    height: auto;
    font-size: 0.9em;
    line-height: 130%;
}

.link-title {
    margin: 0.1em;
}

.video {
    margin-top: 1.3%;
    margin-left: 5%;
    margin-bottom: 1.3%;
    width: 90%;
    height: auto;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 5px;
    background-color: rgba(216, 216, 216, 0.78)
}

.thumbnail img {
    width: auto;
    text-align: center;
    height: 20%;
    border-radius: 3px;
}

.Photo {
    width:100%;
    height:auto;
}
.photo-container {
    width:100%;
    height:auto;
    position:relative;
    border-radius: 5px;
    overflow: hidden;
}
.photo-container .photo-title{
    width:100%;
    height:auto;
    position:absolute;
    top:0%;
    left:0%;
}
.photo-container:hover .caption-overlay{
    height:auto;
    max-height: 100%;
    overflow:scroll;
}
.photo-container .caption-overlay{
    width:100%;
    height:auto;
    min-height: 1em;
    max-height: 1em;
    bottom:0%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position:absolute;

    transition:max-height 0.5s;
    -webkit-transition:max-height 0.5s; /* Safari */
}
.photo-container .caption-overlay pre{
    width:100%;
    height:auto;
    margin:0;
    border:0;
    padding:0;
    background-color: rgba(0,0,0,0.76);
    color:white;
    padding: 10px;
    box-sizing: border-box;
}
.photo-container img {
    width: 100%;
    height:auto;
}
