<!DOCTYPE html>
<html lang="ko">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/paper.css">
        <link rel="shortcut icon" href="/icons/logo3.ico">
        <script src="/js/jquery-1.7.1.js"></script>
        <script src="/js/jquery.transit.min.js"></script>
        <script src="/js/google_analytics.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = null;
            var target_url = null;
            	
            function uploadImage(){
            	if(target_url){
	        	    socket.emit("uploadImage", {
		            	image : target_url,
		            	text : $("#text_input").val()
		            });
		            target_url = null;
            	}
	        }
            function checkShakeEvent(){
	            var sensitivity = 35;
	    		var x1 = 0, y1 = 0, z1 = 0, x2 = 0, y2 = 0, z2 = 0;
	    		window.addEventListener('devicemotion', function (e) {
	    			lastAcc = e.accelerationIncludingGravity;
	    			x1 = e.accelerationIncludingGravity.x;
	    			y1 = e.accelerationIncludingGravity.y;
	    			z1 = e.accelerationIncludingGravity.z;
	    			$("#top").html(x1 + " : " + y1 + " : " + z1);
		   		}, false);

	    		setInterval(function () {	
	    			if( !target_url )
	    				return;
	    		
	    			var change = Math.abs(x1-x2+y1-y2+z1-z2);
	    			if (change > sensitivity) {
	    				uploadImage();
	                 //   alert("uploaded");
	                }
	    			x2 = x1;
	    			y2 = y1;
	    			z2 = z1;
	    		}, 150);
            }
            	
            function resizeImage(file, dataURL, callback) {
                var fileType = file.type;
                var image = new Image();
                image.src = dataURL;

                image.onload = function() {
                    var maxWidth	 = 250,
                        maxHeight 	 = 250,
                        imageWidth   = image.width,
                        imageHeight  = image.height;

                    console.log(imageWidth + " , " + imageHeight);
                    if (imageWidth > imageHeight) {
                        if (imageWidth > maxWidth) {
                            imageHeight *= maxWidth / imageWidth;
                            imageWidth = maxWidth;
                        }
                    }
                    else {
                        if (imageHeight > maxHeight) {
                            imageWidth *= maxHeight / imageHeight;
                            imageHeight = maxHeight;
                        }
                    }
                    console.log(imageWidth + " , " + imageHeight);

                    var canvas = document.createElement('canvas');
                    canvas.width  = imageWidth;
                    canvas.height = imageHeight;

                    var ctx = canvas.getContext("2d");
                    ctx.drawImage(this, 0, 0, imageWidth, imageHeight);

                    // The resized file ready for upload
                    var finalFile = canvas.toDataURL(fileType);
                    callback(finalFile);
                    
                    $(canvas).remove();
                }
            }




            function connectWS() {
                console.log('Connecting to local server...');
                
                var connecting_handle = null;
                if (socket == null) {
                    socket = io.connect("/Comunicar");
                    socket.on("connect",function(){
	                  	clearInterval(connecting_handle); 
                    });
                    socket.on('message', function(data) {});
                    socket.on('disconnect', function() {
	                    alert("disconnect");
	                    connecting_handle = setInterval(function(){
		                    socket.socket.connect();
	                    }, 500);
	                });
                    checkShakeEvent();
                }
                socket.socket.connect();
            }

            $(document).ready(function() {
            	alert("사진을 선택한뒤 화면에 보여지면 핸드폰을 흔들어주세요.\n그래도 업로드가 안된다면 아래 버튼을 눌러주세요");
                connectWS();
                $("#image_input").change(function() {
                 //   $("#output").html(JSON.stringify(this.files));
                    $("#image_output").attr("src", $(this).val());

                    var fileReader = new FileReader();
                    var file = this.files[0];
                    fileReader.onloadend = function(evt) {
                        if (evt.target.readyState == FileReader.DONE) {
                        	resizeImage(file, evt.target.result, function(url){
	                        	$("#image_output")[0].src = url;

	                        	target_url = url;
                        	});
                        }
                    };

                    fileReader.readAsDataURL(file);
                });
            });
        </script>
        <style>
</style>
        <title>Rolling Paper</title>
    </head>
    
    <body>
        <input id="image_input" type="file" />
        <div id="output"></div>
        <img id="image_output" />
        <textarea id="text_input"></textarea>
        
        <br/>
        <br/>
        <button onclick="uploadImage();">강제 업로드</button>
    </body>

</html>