<!DOCTYPE html>
<html lang="ko">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
        <link rel="shortcut icon" href="/icons/logo3.ico">
        <script src="/js/jquery-1.7.1.js"></script>
        <script src="/js/jquery.transit.min.js"></script>
        <script src="/js/jgestures.min.js"></script>
        <script src="/js/google_analytics.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = null;
            var target_url = null;

            $.fn.get2dContext = function(){
	            return this[0].getContext("2d");
            };
            $.fn.resizeContext = function(){
	           	$(this)[0].width  = $(this).width();
	           	$(this)[0].height = $(this).height();
            };

            function uploadImage() {
            	var target_url = $("#painter")[0].toDataURL();
                if (target_url) {
                    socket.emit("uploadImage", {
                        image: target_url,
                        text: $("#text_input").val()
                    });
                    target_url = null;
                }
            }

            function resizeImage(file, dataURL) {
                var fileType = file.type;
                var image = new Image();
                image.src = dataURL;

                image.onload = function() {
                	var $canvas = $("#painter");
                	var ctx = $canvas.get2dContext();
                	
					var maxWidth    = $(".canvas_container").width(),
                        maxHeight   = $(".canvas_container").height(),
                        imageWidth = image.width,
                        imageHeight = image.height;
					if (imageWidth > imageHeight) {
                        if (imageWidth > maxWidth) {
                            imageHeight *= maxWidth / imageWidth;
                            imageWidth = maxWidth;
                        }
                    }
                    else {
                        if (imageHeight > maxHeight) {
                            imageWidth *= maxHeight / imageHeight;
                            imageHeight = maxHeight;
                        }
                    }
                    
                    $canvas.width(imageWidth);
                    $canvas.height(imageHeight);
                    $canvas.resizeContext();
                    
					ctx.drawImage(this, 0, 0, imageWidth, imageHeight);
                }
            }




            function connectWS() {
                console.log('Connecting to local server...');

                var connecting_handle = null;
                if (socket == null) {
                    socket = io.connect("/Comunicar");
                    socket.on("connect", function() {
                        clearInterval(connecting_handle);
                    });
                    socket.on('message', function(data) {});
                    socket.on('disconnect', function() {
                        alert("disconnect");
                        connecting_handle = setInterval(function() {
                            socket.socket.connect();
                        }, 500);
                    });
                }
                socket.socket.connect();
            }

            function enablePainterInCanvas($canvas) {
            	$canvas[0].width  = $canvas.width();
            	$canvas[0].height = $canvas.height();
            	
            	var context = $canvas.get2dContext();

            	context.lineJoin="round";
            	context.lineCap="round";
            	context.lineWidth=10;
            		
            	var lastTouch = null;
            
                $canvas.bind("touchstart mousedown", function(e) {
	                $(this).trigger("touchmove");
                	$(this).trigger("mousemove");
                	e = e.originalEvent;
                	var touchPos = {
	                	x : e.pageX,
	                	y : e.pageY
                	};
                	
                	context.beginPath();
                	context.moveTo(touchPos.x,touchPos.y);
                	
                	return false;
                });
                $canvas.bind("touchmove mousemove", function(e) {
	                if(e && e.originalEvent){
	                	e = e.originalEvent;
	                	var touchPos = {
		                	x : e.pageX,
		                	y : e.pageY
	                	};
	                	lastTouch = touchPos;
	                	
	                	context.lineTo(touchPos.x,touchPos.y);
						context.moveTo(touchPos.x,touchPos.y);
	                    context.stroke();
	            		
	                    return false;
                	}
                });
                $canvas.bind("touchend mouseup", function(e) {
                	e = e.originalEvent;
                	console.log(e);
                	context.closePath();
                	context.stroke();
                	return false;
                });
            }
			
			//cb function(isCached, position){ }
			function getLocation(cb) {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(function(position){
						alert(JSON.stringify(position));
					});
			    } else{
					alert("GeoLocation is not supported");
			 	}
			}
			
            $(document).ready(function() {		
				getLocation();

                connectWS();
                $("#image_input").change(function() {
                    var fileReader = new FileReader();
                    var file = this.files[0];
                    fileReader.onloadend = function(evt) {
                        if (evt.target.readyState == FileReader.DONE) {
                            resizeImage(file, evt.target.result);
                        }
                    };
                    fileReader.readAsDataURL(file);
                });
                	
               	enablePainterInCanvas($("#painter"));

                $(window).bind("shake", function(event) {
                    uploadImage();
                });
            });
        </script>
        <style>
			html,body{
				width: 100%;
				height: 100%;
				padding: 0px;
				margin: 0px;
			}
        	#painter{
	        	width:100%;
	        	height:100%;
	        	background-color:gray;
	        	margin-left:auto;
	        	margin-right:auto;
        	}

			.container{
				width: 640px;
				height: 716px;
				background-image: url("/images/comunicar/postit_background.png");
			}
			.post{
				position:absolute;
				width: 24%;
				height: 48%;
				margin-left: 8%;
				margin-top: 8%;
				background-image: url("/images/comunicar/postit_yellow.png");
				background-size: 100% 100%;
			}
			.posttext{
				position: relative;
				width: 90%;
				height: 75%;
				margin-left: 5%;
				margin-top: 16%;
				font-size:larger;
				font-weight:bolder;
			}
			.tape{
				position: absolute;
				width: 10%;
				height: 8%;
				margin-top: 6%;
				margin-left: 15%;
				background-image: url("/images/comunicar/postit_tape_effect.png");
				background-size: 100% 100%;
			}
			.sendbutton{
				position: absolute;
				width: 6%;
				height: 11%;
				margin-left: 32.5%;
				margin-top: 1.5%;
				background-image: url("/images/comunicar/postit_send_btn.png");
				background-size: 100% 100%;
			}
			.camera{
				position: absolute;
				width: 5.6%;
				height: 10.5%;
				margin-left: 8%;
				margin-top: 36.8%;
				background-image: url("/images/comunicar/postit_camera_btn.png");
				background-size: 100% 100%;
			}
			.write{
				position: absolute;
				width: 5.6%;
				height: 10%;
				margin-left: 17.3%;
				margin-top: 37%;
				background-image: url("/images/comunicar/postit_write_btn.png");
				background-size: 100% 100%;
			}
			.text{
				position: absolute;
				width: 5.6%;
				height: 10%;
				margin-left: 26.4%;
				margin-top: 37%;
				background-image: url("/images/comunicar/postit_text_btn.png");
				background-size: 100% 100%;
			}
			
        	.site { 
	        	width:100%;
	        	height:100%;
	        	overflow:scroll;
        	}
        	.site > .canvas_container{
	        	width:100%;
	        	height:80%;
	        }
	        .site > .control_container{
		        width:100%;
	        	height:20%;
	        }
	        .site > .control_container > #text_input{
		        width:50%;
		        height:100%;
		        float:left;
	        }
	        .site > .control_container > #upload_button{
		        float:right;
			} 
        </style>
        <title>Rolling Paper</title>
    </head>
    
    <body>
		<!-- <div class="container">
			<div class="post">
				<div class="posttext">기분이 어떠신가요?</div>
			</div>
			<div class="sendbutton"></div>
			<div class="tape" onClick=""></div>
			<div class="camera"></div>
			<div class="write"></div>
			<div class="text"></div>
		</div> -->
    	<div class="site"> 
    		<div class="canvas_container">
    			<canvas id="painter">
    			</canvas>
    		</div>
    		<div class="control_container">
    			<input id="image_input" type="file" value="이미지 선텍" />
    			<textarea id="text_input"></textarea><br/>
		        <button id="upload_button" onclick="uploadImage();">업로드</button>
    		</div> 
        </div>
    </body>

</html>